body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  margin-bottom: 0px;
}

.divisao1 {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f0f0f0;
}
.divisao2{
  width: 25%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f0f0f0;
}
#cmbOpcoes{
  margin-bottom: 10px;
  width: 97.5%;
  padding: 8px;
}

#datePicker {
  margin-bottom: 10px;
  width: 11%;
  padding: 8px;
}

.radio-group {
  margin-bottom: 10px;
}

.radio-group label {
  display: block;
  margin-bottom: 5px;
  font-family: 'ITC Avant Garde Gothic Pro', sans-serif;
}

#radOpcao1, #radOpcao2 {
  margin-right: 5px;
}

#enviarBtn {
  padding: 10px;
  background-color: #e381209d;
  color: #323232;
  border: none;
  cursor: pointer;
}

.new-label {
  margin-top: 10px;
  
}

.new-input {
  width: 95%;
  padding: 8px;
  margin-bottom: 10px;
}
.tabela-container {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  background-color: #f0f0f0;
}

table {
  width: 100%;
  border-collapse: collapse;
  padding: 20px;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}